
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
* {
    --dark_blue:hsl(233, 47%, 7%);
    --desaturated_blue:hsl(244, 38%, 16%);
    --soft_violet:hsl(277, 64%, 61%);
    --white:hsl(0, 0%, 100%);
    --slightly_transparent_white_one:hsla(0, 0%, 100%, 0.75);
    --slightly_transparent_white_two:hsla(0, 0%, 100%, 0.6);

    --font_one: 'Inter', sans-serif;
    --font_two: 'Lexend Deca', sans-serif;
}
body{
    font-size: 15px;
}
.component{
    background-color: var(--soft_violet);
    display: flex;
    flex-direction: column;
}
.component_image{
    background-image: url(../images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: opacity(60%);


    height: 240px;
    width: auto;
}
.component_data{
    background-color: var(--desaturated_blue);
    margin: 0;
}

.component_data .title{
    background-color: antiquewhite;
    font-family: var(--font_two);
    
}
.component_data .info{
    background-color: aqua;
    font-family: var(--font_one);

}
.component_data .data{
    background-color: aquamarine;
    font-family: var(--font_one);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.component_data .data .item{
    background-color: bisque;
}



@media (min-width: 376px) {
    .component{
        flex-direction: row-reverse;
    }
    .component_image{
        background-image: url(../images/image-header-desktop.jpg);
        width: 50%;
    }
    .component_data{
        width: 50%;
    }
    .component_data .data{
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
}
